* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #060618;
    color: #dadada;
}

header {
    background-color: #cccccc;
    color: #222222;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    user-select: none;
}

.score-border {
    border: 3px solid #cccccc;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    width: 200px;
}

.name {
    background: #cc3333;
    padding: 4px 10px;
    text-align: center;
    border-radius: 4px;
}

#player-text {
    position: absolute;
    left: -25px;
    font-size: 16px;
}

#computer-text {
    position: absolute;
    right: -25px;
    font-size: 16px;
}

.score-board {
    text-align: center;
}

.result-preview {
    margin: auto 40px;
    user-select: none;
}

#player-result {
    transform: rotateZ(90deg);
}

#computer-result {
    transform: rotateZ(90deg) rotateX(180deg);
}

.winner-text, .action-text {
    text-align: center;
}

.winner-text {
    margin-top: 30px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

#scissors {
    transform: rotateZ(90deg);
}

.choice {
    background: none;
    border: 4px solid #cccccc;
    border-radius: 50%;
    padding: 10px;
    margin: auto 20px;
    user-select: none;
    outline: none;
}

.choice:hover {
    background: #111141;
    transition: 200ms ease;
    cursor: pointer;
}

.btn-container:focus {
    outline: none !important;
}

.choice:focus {
    outline: none !important;
}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.reset-button {
    padding: 10px 30px;
    background-color: #cecece;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
    transition: 200ms ease;
}

.reset-button:hover {
    background-color: #aeaeae;
}

.border-win {
    border: 4px solid #11af4d;
    box-shadow: 0 0 10px #11af4d;
}

.border-lose {
    border: 4px solid #eb1111;
    box-shadow: 0 0 10px #eb1111;
}

.border-draw {
    border: 4px solid #aaaaaa;
    box-shadow: 0 0 10px #aaaaaa;
}

.start-window {
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #e9e9e9;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-window {
    background-color: #1b1b1b;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: flex;
}

.box-content {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    position: relative;
}

.box-content > h4 {
    margin-top: 100px;
}

.input-field {
    margin-top: 30px;
    font-size: 18px;
}

#player-name {
    font-size: 16px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #424242;
    outline: none;
    text-align: center;
    margin: 10px auto;
    background: transparent;
    transition: 300ms ease;
    color: #e9e9e9;
}

#player-name:focus {
    border-bottom: 3px solid #2196f3;
}

#submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background: #242424;
    color: #e9e9e9;
    cursor: pointer;
}

#submit-button:hover {
    box-shadow:  3px 3px 7px #1f1f1f,
             -3px -3px 7px #292929;
}

.close-button {
    position: absolute;
    top: 10px;
    right: -15px;
    color: #a52c2c;
    background: transparent;
    border: none;
    cursor: pointer;
}

footer {
    font-size: 10px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 430px) {
    header h1 {
        font-size: 26px;
    }

    .winner-text {
        font-size: 18px;
        margin-top: 20px;
        height: 30px;
    }

    .action-text {
        font-size: 16px;
    }

    .btn-container {
        margin: 30px auto;
    }
    
    .choice-img {
        width: 50px;
    }

    .choice {
        margin: auto 10px;
    }

    .choice:hover {
        cursor: default;
    }

    .result-preview {
        width: 15%;
        margin: 0;
    }
    
    #player-result {
        margin-right: 25px;
    }

    #computer-result {
        margin-left: 25px;
    }

    .score-border {
        width: 150px;
    }
}